.wrapper {
    display: flex;
    width: 100%;
}
.photo1 { 
    height:50%;
    border: 5px solid black;
    text-align: center;
}
nav {
    width: 5%;
    border: 5px solid rgb(55, 14, 202);
    margin: 0px 40px 0px 0px ;
    height: 500px;
}
.friends {
 height: 55%;
 border: 5px solid rgb(196, 23, 23);
 margin: 40px 0px 0px 0px;
}
.persinf {
    height: 800px;
    width: 25%;
}
.jo {
    width: 400px;
    height: 400px;
    border-radius: 50% ;
}
.inf {
    width: 70%;
}
#inf {
    border: 5px solid black;
}
.inf {
    margin: 0px 0px 0px 40px;
}
.inf1 {
    border: 5px solid black;
    margin: 20px 0px 0px 0px;
}
.ja {
    width: 22%;
    margin: 5px 5px 5px 5px;
}
.ji {
    border-radius: 50% ;
    width: 135px;
}
.cartinki {
    margin: 5px;
    font-size: large;
}
.line1 {
display: flex;
}
.line2 {
    display: flex;
}
