.wrapper {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr ;
    grid-template-rows: 50px 500px 50px;
    grid-template-areas:"bl bl bl" "gr ye re" "bu bu bu" ;
    gap: 5px;
}
.black{
    background-color: yellow;
    grid-area: bl;
}
.green{
    background-color: yellow;
    grid-area: gr;
}
.yellow{
    background-color: yellow;
    grid-area: ye;
}
.red{
    background-color: yellow;
    grid-area: re;
}
.blue{
    background-color: yellow;
    grid-area: bu;
}