img {
    width: 150px;
    height: 70px;
    cursor: pointer;
}

button {
    background-color: sandybrown; 
    color: darkgrey;
    border: 1px solid sandybrown;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    
}

 .game, .game-count {
    display: none;
}