.wrapper {
height: 300px;
background-color: gray;

}
.a {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blue {
    height: 50px;
    background-color:blue;

}
.red.green {
    height: 100px;
    width: 100px;
}
.red {
    background-color: red;
    display: flex;
    align-items: center;
}
.green {
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black {
    width: 25%;
    height:85% ;
    background-color: black;
    border: 1px solid white;
}


.yellow {
    height: 20px;

}
