@font-face {
	font-family: 'You2013';
	src: url('./fonts/you2013.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/you2013.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/you2013.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/you2013.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/you2013.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/you2013.svg#you2013') format('svg'); /* Chrome < 4, Legacy iOS */
}