@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

footer {
    background-color: rgb(17, 147, 199);
    font-family: 'Caveat', cursive;
    font-size: 70%;
    position:fixed;
    bottom: 0px;
    width: 100%;
    border: solid black 1px;
}