@import  './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

header {
    display: flex;
    background-color: rgb(17, 147, 199);
    height: 102px;
    font-family: 'Caveat', cursive;
    font-size: 120%;
    h1{
        margin-right: 10px;
    }
    img {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }

}
