@import './colors.scss';
@import './footer.scss';
@import './header.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');



body {
    margin: 0;
    padding: 0;

    .wrapper {
        display: grid;
        grid-template-rows: 10vh 80vh 10vh;

        .content {
            
            nav {
                padding: 10px;
                border: 1px solid black;
                margin: 5px;
                
                ul {
                    display: flex;
                    list-style: none;
                    li {
                        cursor: pointer;
                        margin: 10px 10px;
                    }
                }
            }

            section {
                padding: 10px;
                .albums{
                    border: 1px solid black;
                    background-color: rgb(17, 147, 199);
                }
                .plastilin{
                    border: 1px solid black;
                    background-color: rgb(16, 106, 141);
                }
                .pesnidlyadevstvennicov_part2{
                    border: 1px solid black;
                    background-color: rgb(17, 147, 199);
                }

            }

        }


    }
}
nav{
    color: rgb(23, 23, 116);
    font-family: 'Caveat', cursive;
    font-size: 130%;
}