@import './colors.scss';
@import './footer.scss';
@import './header.scss';


body {
    margin: 0;
    padding: 0;

    .wrapper {
        display: grid;
        grid-template-rows: 10vh 80vh 10vh;

        .content {
            
            nav {
                padding: 10px;
                
                ul {
                    display: flex;
                    list-style: none;
                    li {
                        cursor: pointer;
                        margin: 10px 10px;
                    }
                }
            }

            section {
                height: 97%;
                overflow-y: auto;
                padding: 10px;
            }
        }


    }
}