<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page4</title>
</head>
<body>
    <div class="wrapper">
        <header></header>
        <div class="content">
            <nav>
                <ul>
                    <li>
                        <a id="main">main</a>
                    </li>
                    <li>
                        <a id="page1">page1</a>
                    </li>
                    <li>
                        <a id="page2">page2</a>
                    </li>
                    <li>
                        <a id="page3">page3</a>
                    </li>
                    <li>
                        <a id="page4">page4</a>
                    </li>
                </ul>
            </nav>
            <section></section>
            <aside></aside>
        </div>

        <footer></footer>
    </div>
</body>
</html>